// COMMON :: START

.hidden {
	opacity: 0;
	visibility: hidden;
}

.c-form {
	&__field {
		position: relative;

		&-group {
			display: flex;
			justify-content: space-between;

			.c-form__field {
				width: 100%;
				max-width: calc(100% / 2);
			}
		}

		&.is-focus {
			input {
				border-color: #0056FC;
				background-color: #f1f4fb;
				@include transition(border-color, background-color);
			}
			label {
				transform: translate(7px, -10px) scale(0.7);
				@include transition(transform);
			}
		}
		&.is-error {
			input {
				border-color: #fd784c;
				background-color: transparent;
			}
			label {
				color: #fd784c;
			}

			> .icon-font {
				&.icon-close {
					opacity: 1;
				}
			}
		}
		&.is-done {
			input {
				border-color: #3AD378;
				background-color: transparent;
			}
			label {
				color: #3AD378;
			}

			> .icon-font {
				&.icon-check {
					opacity: 1;
				}
			}
		}
		&.is-disabled {
			input {
				border-color: transparent;
				background-color: transparent;
			}
		}

		input {
			outline: none;
			position: relative;
			width: 100%;
			height: 60px;
			padding: 15px 50px 0 20px;
			box-shadow: none;
			border-radius: 4px;
			background-color: #fff;
			border: 1px solid #7ca9ff;
			font-size: 18px;
			letter-spacing: 0.01em;
			color: #000;
			@include transition(border-color, background-color);
			@include inputPlaceholder {
				font-size: 18px;
				letter-spacing: 0.01em;
				color: #5d5d5d;
			}
			@include adaptive(767) {
				font-size: 14px;
				@include inputPlaceholder {
					font-size: 14px;
				}
			}
		}

		label {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 60px;
			padding: 0 20px;
			font-size: 18px;
			letter-spacing: 0.01em;
			color: #5D5D5D;
			line-height: 60px;
			backface-visibility: hidden;
			transform-origin: left center;
			@include transition(transform);
			@include adaptive(767) {
				font-size: 14px;
			}

			&.error {
				top: calc(100% - 21px);
				bottom: 0;
				transform: unset;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 21px;
				padding: 0;
				font-size: 12px;
				text-align: right;
				color: #fd784c;
				@include adaptive(767) {
					font-size: 11px;
				}
			}
		}

		> a {
			z-index: 5;
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 60px;

			&.is-active {
				.icon-font {
					@include transition(opacity);

					&.icon-eye-line {
						opacity: 1;
					}
				}
			}

			.icon-font {
				color: #5d5d5d;
				@include transition(opacity);

				&.icon-eye-line {
					opacity: 0;
					position: absolute;
					font-size: 20px;
				}
			}
		}

		> .icon-font {
			&.icon-check,
			&.icon-close {
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 60px;
				font-size: 10px;
				@include transition(opacity);
			}

			&.icon-check {
				color: #3AD378;
			}
			&.icon-close {
				color: #fd784c;
			}
		}
	}
}


.c-checkbox {
	position: relative;

	&:hover {
		label {
			i {
				border-color: #0055FC;
				@include transition(border-color, background-color);
			}
		}
	}

	input {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		width: 0;
		height: 0;

		&:checked {
			& + label {
				span {
					> i {
						border-color: #0055FC;
						background-color: #0055fc;
						@include transition(border-color, background-color);

						.icon-font {
							transform: scale(1);
							@include transition(transform);
						}
					}
				}
			}
		}
	}

	label {
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		height: auto;
		padding: 0;
		line-height: normal;

		> span {
			&:nth-of-type(1) {
				width: 25px;
			}
			&:nth-of-type(2) {
				display: flex;
				flex-wrap: wrap;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-top: 1px;
			}

			> i {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 14px;
				height: 14px;
				border-radius: 3px;
				border: 2px solid #99bbfe;
				@include transition(border-color, background-color);

				.icon-font {
					color: #ffffff;
					font-size: 6px;
					transform: scale(0);
					@include transition(transform);
				}
			}
		}

		u {
			font-size: 15px;
			letter-spacing: 0.01em;
			text-decoration: none;
			color: #5d5d5d;
			@include adaptive(767) {
				font-size: 11px;
			}
		}

		a {
			color: #0056fc;
		}
	}
}


.c-popper {
	position: relative;

	&[data-popper='right'] {
		.c-poppertext {
			top: 50%;
			left: 100%;
			transform: translateY(-50%);
			padding-top: 0;
			padding-left: 10px;

			&:after {
				top: 50%;
				transform: translateY(-50%);
				left: -9px;
				border-color: transparent #000 transparent transparent;
			}
		}
	}

	&:hover {
		.c-poppertext {
			opacity: 1;
			visibility: visible;
			@include transition(opacity, visibility);
		}
	}

	.c-poppertext {
		opacity: 0;
		visibility: hidden;
		z-index: 100;
		display: block;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 10px;
		@include transition(opacity, visibility);

		&.c-poppertext--left {
			top: 50%;
			transform: translateY(-50%);
			left: auto;
			right: calc(100% + 15px);
			padding-top: 0;

			&:after {
				top: 50%;
				left: auto;
				right: -20px;
				transform: translateY(-50%);
				border-color: transparent transparent transparent #000;
			}
		}
		&.c-poppertext--right {
			top: 50%;
			transform: translateY(-50%);
			left: calc(100% + 15px);
			padding-top: 0;

			&:after {
				top: 50%;
				left: -20px;
				transform: translateY(-50%);
				border-color: transparent #000 transparent transparent ;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: -9px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-width: 12px;
			border-style: solid;
			border-color: transparent transparent #000 transparent;
		}

		> u {
			white-space: nowrap;
			display: block;
			//width: 100%;
			min-height: 29px;
			padding: 10px 25px;
			border-radius: 6px;
			background-color: #000000;
			text-decoration: none;
			font-size: 16px;
			color: #fff;
			line-height: 1;
		}
	}
}


.c-checkbox {
	position: relative;

	&:not(:last-of-type) {
		padding-bottom: 13px;
	}

	&__input {
		opacity: 0;
		position: absolute;
		width: 0;
		height: 0;

		&:checked {
			& + .c-checkbox__label {
				i {
					background-color: #0055fc;
					@include transition(background-color);
				}
			}
		}
	}

	&__label {
		outline: none;
		position: relative;
		display: flex;
		align-items: center;

		> p {
			&:nth-of-type(2) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				padding-left: 10px;
			}
		}

		i {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 14px;
			height: 14px;
			border: 2px solid #0055fc;
			border-radius: 2px;
			background-color: transparent;
			@include transition(background-color);

			&:after {
				content: '';
				position: absolute;
				margin-top: -2px;
				width: 7px;
				height: 4px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				transform: rotate(-45deg);
			}
		}

		span {
			font-size: 16px;
			letter-spacing: 0.01em;
			text-align: left;
			color: #000;
		}
	}
}


.c-dropdown {
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	position: absolute;
	top: calc(100% + 25px);
	right: -20px;
	min-width: 300px;
	padding: 30px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(83, 112, 151, 0.12);
	@include transition(opacity, visibility, transform);

	&.is-open {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
		@include transition(opacity, visibility, transform);
	}

	&__wrapper {
		position: relative;
	}

	&__toggle {}

	&__title {
		padding-bottom: 30px;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.01em;
		color: #000;
	}

	&__content {

	}
}


// COMMON :: END
