///
/// ADDITIONALLY
/// ===============
$maxWidth: (1580px + 30px + 250px);
$paddingLeft: 125px;
$paddingRight: $paddingLeft;

%grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
	padding: 172px $paddingRight 110px $paddingLeft;
}


///
/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }


  &-fluid {
    @extend %grid;
    max-width: 100%;
  }
}
