// SECTION :: START

section#menu.menu
	.menu__head

		.menu__user-wrapper
			.menu__user-head

				.header__user-wrapper
					a.header__user(href="#" user-js)
						div
							i
							span YA
					p.header__user-name Youssef Ait
					i.icon-font.icon-down-arrow

			.menu__user-body
				a.menu__link(href="#")
					div
						i.icon-font.icon-profile
					div
						p Profile

				a.menu__link.menu__link--logout(href="#")
					div
						i.icon-font.icon-log-out
					div
						p Log Out

	.menu__body

		.c-btn__wrapper.c-btn__wrapper--column

			a.menu__btn.menu__btn--upgrade.c-btn.c-btn--blue(href="#")
				span Upgrade for more credits

	.menu__footer
		a.menu__link.menu__link--doc(href="#")
			div
				i.icon-font.icon-book-open
			div
				p Documentation

// SECTION :: END
