// SECTION :: START

section#sidebar.sidebar

	.sidebar__wrapper
		.sidebar__wrapper-top

		.sidebar__wrapper-middle

			ul.sidebar__menu
				li.sidebar__menu-item
					a.sidebar__menu-btn.c-popper(href="#" sidebar-btn-js)
						i.icon-font.icon-analytics
						.c-poppertext.c-poppertext--right
							u Dashboard
				li.sidebar__menu-item
					a.sidebar__menu-btn.sidebar__menu-btn--blue.c-popper(href="#" sidebar-btn-js)
						span
							i.icon-font.icon-grammar
						.c-poppertext.c-poppertext--right
							u Bulk Verification
				li.sidebar__menu-item
					a.sidebar__menu-btn.c-popper(href="#" sidebar-btn-js)
						i.icon-font.icon-email
						.c-poppertext.c-poppertext--right
							u Single Verification
				li.sidebar__menu-item
					a.sidebar__menu-btn.c-popper(href="#" sidebar-btn-js)
						i.icon-font.icon-apps
						.c-poppertext.c-poppertext--right
							u Api
				li.sidebar__menu-item
					a.sidebar__menu-btn.c-popper(href="#" sidebar-btn-js)
						i.icon-font.icon-products
						.c-poppertext.c-poppertext--right
							u Plans & Upgrade
				li.sidebar__menu-item
					a.sidebar__menu-btn.c-popper(href="#" sidebar-btn-js)
						i.icon-font.icon-receipt
						.c-poppertext.c-poppertext--right
							u Payment History
				li.sidebar__menu-item
					a.sidebar__menu-btn.c-popper(href="#" sidebar-btn-js)
						i.icon-font.icon-filter
						.c-poppertext.c-poppertext--right
							u Settings
				li.sidebar__menu-item
					a.sidebar__menu-btn.sidebar__menu-btn--orange.c-popper(href="#" sidebar-btn-js)
						span
							i.icon-font.icon-gift
						.c-poppertext.c-poppertext--right
							u Today's Deal

		.sidebar__wrapper-bottom

			a.sidebar__read.c-popper(href="#" sidebar-btn-js)
				img(src="img/bookmark.svg" alt="")
				.c-poppertext.c-poppertext--right
					u Documentation

// SECTION :: END
