// SECTION :: START

section#sidebar.sidebar

	.sidebar__wrapper

		.sidebar__wrapper-top
		.sidebar__wrapper-middle

		.sidebar__wrapper-bottom

			a.sidebar__read.c-popper(href="#" sidebar-btn-js)
				img(src="img/bookmark.svg" alt="")
				.c-poppertext.c-poppertext--right
					u Documentation

// SECTION :: END
