// SECTION :: START

section#setting.setting

	.c-grid

		.setting__wrapper
			.setting__wrapper-header

				p.setting__title Settings
				p.setting__subtitle No montly payment and your credit never expire

			.setting__wrapper-body

				.setting__tab-wrapper

					.setting__tab-left

						.setting__tab-box
							.setting__tab-box-body

								a.setting__tab-btn.is-active(href="#" setting-btn-js data-id='1')
									i.icon-font.icon-arrow-right
									span General

								a.setting__tab-btn(href="#" data-id='2' setting-btn-js)
									i.icon-font.icon-arrow-right
									span Security

							.setting__tab-box-footer
								.c-btn__wrapper
									a.c-btn.c-btn--red(href="#")
										span Delete your account

					.setting__tab-right

						.setting__tab-box

							.setting__tab-content.is-active(data-id='1' setting-content-js)
								.setting__tab-box-header
									div
										p.setting__date!= "Created: <span>2017-06-29 14:41:14</span>"
									div
										.c-btn__wrapper
											a.c-btn.c-btn--blueBorder.is-disabled(href="#")
												span Save

								.setting__tab-box-body

									form#settingGeneral.setting__form.c-form(action='' method='' autocomplete='off')
										.c-form__field-group
											.c-form__field.is-focus
												input(type='text' id='full_name' name='full_name' value='Youssef ait' required input-js)
												label(for='full_name') Full Name
												i.icon-font.icon-check
												i.icon-font.icon-close
											.c-form__field.is-focus.is-disabled
												input(type='email' id='email' name='email' value='youssef.ait.7@gmail.com' required input-js)
												label(for='email') Email
										.c-form__field-group
											.c-form__field
												input(type='text' id='company_name' name='company_name' required input-js)
												label(for='company_name') Company Name
												i.icon-font.icon-check
												i.icon-font.icon-close
											.c-form__field
												input(type='text' id='mobile_phone' name='mobile_phone' required input-js)
												label(for='mobile_phone') Mobile Phone
												i.icon-font.icon-check
												i.icon-font.icon-close
										.c-form__field-group
											.c-form__field
												input(type='text' id='city' name='city' required input-js)
												label(for='city') City
												i.icon-font.icon-check
												i.icon-font.icon-close
											.c-form__field
												input(type='text' id='country' name='country' required input-js)
												label(for='country') Country
												i.icon-font.icon-check
												i.icon-font.icon-close

							.setting__tab-content(data-id='2' setting-content-js)

								.setting__tab-box-header
									div
										p.setting__date!= "Your last login: <span>2017-06-29 14:41:14</span>"
									div
										.c-btn__wrapper
											a.c-btn.c-btn--blueBorder.is-disabled(href="#")
												span Save

								.setting__tab-box-body
									form#settingSettting.setting__form.c-form(action='' method='' autocomplete='off')
										.c-form__field-group
											.c-form__field
												input(type='text' id='new_password' name='new_password' required input-js)
												label(for='new_password') New Password
												i.icon-font.icon-check
												i.icon-font.icon-close
										.c-form__field-group
											.c-form__field
												input(type='text' id='confirm_password' name='confirm_password' required input-js)
												label(for='confirm_password') Confirm Password
												i.icon-font.icon-check
												i.icon-font.icon-close

// SECTION :: END
