// SECTION :: START

section#api.api

	.c-grid

		.api__wrapper
			.api__wrapper-header

				.c-btn__wrapper
					a.c-btn.c-btn--blue(href="#")
						i.icon-font.icon-add-code
						span Create API
					a.c-btn.c-btn--blueBorder(href="#")
						i.icon-font.icon-github
						span Libraries

			.api__wrapper-body

				.api__box-wrapper
					each val, idx in [1,2,3,4,5,6,7,8,9,0]
						div
							.api__box(class!= "api__box-" + val)
								a.api__box-remove(href="#")
									i.icon-font.icon-trash

								.api__box-header

									p.api__box-title Marine in Brisbane, QUEE
									p.api__box-time 12/19/17 - 11:37 PM

								.api__box-body

									ul.api__box-list
										li
											span Valide
											p 25 000
										li
											span Invalide
											p 198
										li
											span Accept-All
											p 76

								.api__box-footer

									.c-btn__wrapper
										a.c-btn.c-btn--blueBorder(href="#" apibox-js)
											span Show stats

// SECTION :: END
