// LOGOTYPE :: START

.logo {
	&.logo--sign {
		padding-bottom: 43px;
		@include adaptive(767) {
			padding-bottom: 45px;
		}
	}

	&__btn {
		display: flex;
		align-items: flex-start;
		@include adaptive(767) {
			justify-content: center;
		}
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}

// LOGOTYPE :: END
