// MODAL :: START

.c-modal {
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 40px 0 rgba(23, 71, 136, 0.15);

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;

		.icon-font {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			border: 2px solid #000;
			border-radius: 50%;
			font-size: 8px;
			color: #000;
		}
	}

	&__back {
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		display: none;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(767) {
			display: flex;
		}

		.icon-font {
			color: #ccddff;
			font-size: 11px;
		}
	}

	&#integrationModal {
		max-width: 900px;
		padding: 30px;
		@include adaptive(767) {
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			top: 100px;
			height: calc(100% - 100px);
			max-height: calc(100% - 100px);
			padding: 50px 15px 15px;
			border-radius: 10px 10px 0 0;

			.c-modal__close {
				display: none;
			}
		}

		.c-modal {
			&__body {
				overflow-y: auto;
				max-height: 410px;
				padding-top: 30px;
				@include adaptive(767) {
					flex: 1;
					min-height: 1px;
					max-height: 100%;
					padding-top: 20px;
				}
			}

			&__footer {
				@include adaptive(767) {
					padding-top: 20px;
					padding-bottom: 20px;
				}
			}

			&__sticky {
				display: none;
				align-items: center;
				justify-content: space-between;
				height: 55px;
				padding: 15px 0 0;
				margin-top: 20px;
				border-top: 1px solid #CCDDFF;
				@include adaptive(767) {
					display: flex;
				}

				.c-btn {
					height: 100%;

					&:nth-of-type(1) {
						width: 45%;
					}
					&:nth-of-type(2) {
						width: 50%;
						margin-left: 5%;
					}

					span {
						font-size: 14px;
					}
				}
			}

			&__title {
				font-size: 34px;
				color: #000;
				@include adaptive(767) {
					font-size: 20px;
				}

				strong {
					font-weight: 700;
				}
			}

			&__desc {
				font-size: 18px;
				letter-spacing: 0.01em;
				color: #5d5d5d;
				@include adaptive(767) {
					font-size: 11px;
					text-align: center;
				}
			}

			&__integration {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 160px;
				border-radius: 10px;
				border: 1px solid #f1f4fb;
				background-color: #fff;
				@include transition(box-shadow);
				@include adaptive(767) {
					height: auto;
					padding: 15px;
				}

				&:hover {
					box-shadow: 0 6px 10px rgba(224, 227, 235, 0.5);
					@include transition(box-shadow);
				}

				&-wrapper {
					position: relative;
					left: -22px;
					display: flex;
					flex-wrap: wrap;
					width: calc(100% + 22px);
					@include adaptive(767) {
						left: -15px;
						width: calc(100% + 15px);
					}

					> div {
						width: 100%;
						max-width: calc(100% / 5);
						padding-left: 22px;
						padding-bottom: 30px;
						@include adaptive(1023) {
							max-width: calc(100% / 4);
						}
						@include adaptive(767) {
							max-width: calc(100% / 3);
							padding-left: 15px;
							padding-bottom: 15px;
						}
					}
				}

				&-head {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 75px;
					height: 75px;
					margin-left: auto;
					margin-right: auto;

					img {
						display: block;
						max-width: 100%;
						height: auto;
						max-height: 100%;
					}
				}

				&-body {
					padding-top: 10px;
				}

				&-name {
					font-weight: bold;
					font-size: 12px;
					text-align: center;
					color: #000;
					@include adaptive(767) {
						font-size: 8px;
					}
				}
			}
		}
	}

	&#connectModal {
		max-width: 900px;
		padding: 60px 60px 55px;
		@include adaptive(767) {
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			top: 100px;
			height: calc(100% - 100px);
			max-height: calc(100% - 100px);
			padding: 50px 15px 15px;
			border-radius: 10px 10px 0 0;

			.c-modal__close {
				display: none;
			}
		}

		.c-modal {
			&__header {
				display: flex;
				align-items: center;
				padding-bottom: 25px;
				@include adaptive(767) {
					padding-bottom: 30px;
				}

				> div {
					&:nth-of-type(1) {
						margin-right: 20px;
					}
				}
			}

			&__integrate {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 80px;
				height: 80px;
				border-radius: 24px;
				@include adaptive(767) {
					width: 40px;
					height: 40px;
					border-radius: 14px;
				}

				img {
					display: block;
					width: 50px;
					max-width: 100%;
					height: auto;
					max-height: 100%;
					@include adaptive(767) {
						max-width: 20px;
					}
				}
			}

			&__title {
				font-size: 34px;
				color: #000;
				@include adaptive(767) {
					font-size: 20px;
				}
			}

			&__stat {
				display: flex;
				flex-direction: column;

				&-head {
					position: relative;
					left: -11px;
					display: flex;
					width: calc(100% + 22px);
					height: 61px;

					> div {
						display: flex;
						align-items: center;
						width: 100%;
						background: #f1f4fb;

						&:nth-of-type(1) {
							padding-left: 40px;
							max-width: 43%;
							border-radius: 10px 0 0 0;
							border-top: 1px solid #cdf;
							border-left: 1px solid #cdf;
						}
						&:nth-of-type(2) {
							max-width: calc(26% + 1px);
							padding-left: 40px;
							border-radius: 0 10px 0 0;
							border-top: 1px solid #cdf;
							border-left: 1px solid #cdf;
							border-right: 1px solid #cdf;
						}
						&:nth-of-type(3) {
							max-width: calc(30% + 5px);
							background-color: transparent;
						}
					}

					&-wrapper {
						padding-left: 10px;
						padding-right: 10px;
						border-left: 1px solid #fff;
						border-right: 1px solid #fff;
						@include adaptive(767) {
							display: none;
						}
					}

					p {
						font-size: 18px;
						letter-spacing: 0.01em;
						color: #000;
					}
				}

				&-body {
					width: 100%;
					padding: 10px;
					border-radius: 0 10px 10px 10px;
					border: 1px solid #cdf;
				}

				&-box {
					display: flex;
					width: 100%;
					height: 60px;
					padding: 10px;
					border-radius: 10px;
					background-color: #fff;
					border: 1px solid #cdf;
					box-shadow: 0 0 2px 0 rgba(83, 112, 151, 0.1);
					@include transition(border-color);
					@include adaptive(767) {
						flex-wrap: wrap;
						height: auto;
					}

					&:hover {
						border-color: #0056fc;
						@include transition(border-color);

						.c-btn {
							background-color: #0056fc;

							.icon-font,
							span {
								color: #ffffff;
							}
						}
					}

					&:not(:last-of-type) {
						margin-bottom: 10px;
					}

					> div {
						&:nth-of-type(1),
						&:nth-of-type(2) {
							display: flex;
							align-items: center;
							border-right: 1px solid #cdf;
							@include adaptive(767) {
								display: block;
							}

							span {
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								display: none;
								padding-bottom: 5px;
								font-size: 10px;
								letter-spacing: 0.01em;
								color: #535260;
								@include adaptive(767) {
									display: block;
								}
							}
						}

						&:nth-of-type(1) {
							width: 43%;
							padding-left: 20px;
							padding-right: 50px;
							@include adaptive(767) {
								order: 2;
								width: 70%;
								padding-left: 20px;
								padding-right: 0;
								border: none;
							}
						}
						&:nth-of-type(2) {
							width: 27%;
							padding-left: 40px;
							@include adaptive(767) {
								order: 1;
								width: 30%;
								padding-left: 0;
								padding-right: 20px;
							}
						}
						&:nth-of-type(3) {
							width: 30%;
							padding-left: 40px;
							@include adaptive(767) {
								order: 3;
								width: 100%;
								padding-top: 10px;
								padding-left: 0;
							}
						}
					}

					p {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						font-size: 18px;
						letter-spacing: 0.01em;
						color: #535260;
						line-height: 1;
						@include adaptive(767) {
							font-size: 14px;
						}
					}

					.c-btn {
						height: 100%;
						@include adaptive(767) {
							min-width: 145px;
							height: 40px;
							background-color: #0056fc;

							.icon-font,
							span {
								color: #ffffff;
							}
						}

						.icon-font {
							font-size: 20px;
						}

						span {
							font-size: 16px;
							@include adaptive(767) {
								line-height: 1;
							}
						}

						&__wrapper {
							height: 100%;
						}
					}
				}
			}
		}
	}

	&#createAPIModal {
		max-width: 900px;
		padding: 30px 30px 20px;
		@include adaptive(767) {
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			top: 100px;
			height: calc(100% - 100px);
			max-height: calc(100% - 100px);
			padding: 50px 40px 15px;
			border-radius: 10px 10px 0 0;

			.c-modal__close {
				display: none;
			}
		}

		.c-form {
			display: flex;
			justify-content: space-between;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			&__field {
				padding-bottom: 20px;
				@include adaptive(767) {
					padding-bottom: 25px;
				}

				&:nth-of-type(1) {
					width: calc(100% - 260px);
					@include adaptive(767) {
						width: 100%;
					}
				}
				&:nth-of-type(2) {
					width: 250px;
					@include adaptive(767) {
						width: 100%;
					}
				}
			}
		}

		.c-btn {
			width: 100%;
		}

		.c-modal {
			&__title {
				padding-bottom: 40px;
				font-size: 34px;
				color: #535260;
				@include adaptive(767) {
					padding-bottom: 35px;
					font-size: 24px;
				}

				span {
					color: #000000;
					font-weight: 500;
				}
			}
		}
	}
}

// MODAL :: END
