// SECTION :: START

section#connect.connect

	.connect__wrapper
		.connect__wrapper-head
			div
				.logo.logo--connect
					a.logo__btn(href="#")
						img.logo__img(src="img/logo.svg" alt="")
			div
				i.icon-font.icon-viewport-narrow
			div
				.connect__integrate(style='background-color: #F37316;')
					img(src="img/img-integration.svg" alt="")

		.connect__wrapper-body

			p.connect__title!= "Connect with <strong>Hubspot</strong>"
			p.connect__desc Enter your API key to import your email list To EmailMarker

			form#integrationConnect.connect__form.c-form(action='' method='' autocomplete='off')
				a.hidden(href="#connectModal" data-effect='mfp-zoom-in' data-effect-mobile='mfp-slide-in' popup-js)
				.sign__form-field.sign__form-field--input.c-form__field
					input(type='text' id='api_key' name='api_key' placeholder='' input-js required)
					label(for='api_key') API key
					i.icon-font.icon-check
					i.icon-font.icon-close

				.sign__form-field.sign__form-field--btn
					.c-btn__wrapper
						button.c-btn.c-btn--blue(type='submit')
							span Connect

		.connect__wrapper-footer

			a(href="#") Where to find your API key ?

// SECTION :: END
