// SECTION :: START

section#verification.verification.verification--empty

	.c-grid

		.verification__wrapper

			.verification__welcome
				p.verification__welcome-title
					| Welcome, Youssef Ait 🙌
					| our mission is to help you
					| check your first email list
					| with a simple click.

				.verification__welcome-btn

					.c-btn__wrapper.c-btn__wrapper--column
						a.c-btn.c-btn--blue(href="/verification-2.html")
							i.icon-font.icon-upload
							span Upload your file

						a.c-btn.c-btn--blueBorder(href="#integrationModal" popup-js data-effect='mfp-zoom-in')
							i.icon-font.icon-intersect
							span Connect integration

				p.verification__welcome-info Get 150 email verifications for FREE. 🙂

// SECTION :: END
