// SECTION :: START

.report {
	z-index: 1999;
	opacity: 0;
	visibility: hidden;
	transform: translateX(100%);
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 600px;
	height: 100%;
	padding: 80px 80px 36px;
	border-radius: 10px 0 0 10px;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(83, 112, 151, 0.12);
	@include transition(opacity, visibility, transform);
	@include adaptive(1365) {
		padding: 60px 60px 36px;
	}
	@include adaptive(767) {
		max-width: calc(100% - 55px);
		border-radius: 0;
		padding: 80px 20px 20px;
	}

	&.is-open {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		@include transition(opacity, visibility, transform);
	}

	&__close {
		position: absolute;
		top: 20px;
		left: 20px;
		font-size: 20px;
		color: #000000;
		@include adaptive(767) {
			left: 10px;
			top: 40px;
		}
	}

	&__head {
		padding-bottom: 45px;
		margin-bottom: 45px;
		border-bottom: 1px solid #CCDDFF;
		@include adaptive(767) {
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
	}

	&__footer {
		padding-top: 45px;
		@include adaptive(767) {
			padding-top: 20px;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		padding-bottom: 23px;
		@include adaptive(767) {
			padding-bottom: 10px;
		}

		img {
			display: block;
			max-width: 35px;
			height: auto;
			max-height: 100%;
			margin-right: 25px;
			@include adaptive(767) {
				max-width: 25px;
				margin-right: 10px;
			}
		}

		span {
			font-weight: 500;
			font-size: 34px;
			color: #000;
			@include adaptive(767) {
				font-size: 20px;
			}
		}
	}

	&__desc {
		font-size: 18px;
		letter-spacing: 0.01em;
		color: #5d5d5d;
		@include adaptive(767) {
			font-size: 11px;
		}
	}

	&__name {
		display: flex;
		align-items: center;
		padding-bottom: 50px;
		@include adaptive(767) {
			padding-bottom: 20px;
		}

		.icon-font {
			margin-right: 15px;
			color: #7ca9ff;
			font-size: 20px;
			@include adaptive(767) {
				margin-right: 10px;
			}
		}

		span {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: block;
			max-width: 100%;
			font-size: 22px;
			letter-spacing: 0.01em;
			color: #000;
			@include adaptive(767) {
				font-size: 12px;
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding-bottom: 45px;
		@include adaptive(767) {
			padding-bottom: 20px;
		}

		li {
			display: flex;
			align-items: flex-end;

			&:not(:last-of-type) {
				padding-bottom: 5px;
			}

			> div {
				&:nth-of-type(2) {
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}

		span {
			font-size: 15px;
			color: #161637;
			line-height: 1;
			@include adaptive(767) {
				font-size: 14px;
			}
		}

		p {
			&.green {
				color: #3ad378;
			}

			font-size: 35px;
			line-height: 1;
			@include adaptive(767) {
				font-size: 20px;
			}
		}

		i {
			position: relative;
			top: -5px;
			display: block;
			width: 13px;
			height: 1px;
			background: #cdf;

			&.double {
				width: 26px;
			}
		}
	}

	&__export {
		&-title {
			display: flex;
			align-items: flex-end;
			padding-bottom: 25px;
			@include adaptive(767) {
				padding-bottom: 20px;
			}

			span {
				margin-right: 15px;
				font-weight: 500;
				font-size: 21px;
				line-height: 1;
				color: #161637;
				@include adaptive(767) {
					font-size: 18px;
				}
			}

			i {
				position: relative;
				top: -4px;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				height: 1px;
				background-color: #ccddff;
			}
		}

		table {
			width: 100%;

			tr {
				th,
				td {
					white-space: nowrap;
					text-align: left;
					vertical-align: middle;

					&:not(:last-of-type) {
						padding-right: 15px;
						padding-top: 10px;
						padding-bottom: 10px;
					}

					&:nth-of-type(3) {
						text-align: right;
					}

					&:last-of-type {
						width: 100%;
						@include adaptive(767) {
							width: 14px;
						}
					}
				}

				th {
					.name {
						font-weight: 700;
					}
				}
			}

			.name,
			.count {
				font-size: 15px;
				color: #161637;
				@include adaptive(767) {
					font-size: 13px;
				}
			}

			.progress {
				overflow: hidden;
				position: relative;
				width: 100%;
				height: 14px;
				background: #f1f4fb;
				@include adaptive(767) {
					width: 14px;
					border-radius: 2px;
				}

				u {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					@include adaptive(767) {
						width: 100% !important;
					}
				}
			}
		}

		.c-checkbox {
			&__input {
				&:checked {
					& + label {
						i {
							background-color: #000000;
						}
					}
				}
			}

			&__label {
				i {
					border-color: #000;
				}
			}
		}
	}

	&__guide {
		display: flex;
		align-items: center;
		@include adaptive(767) {
			padding-top: 5px;
		}

		.icon-font,
		span {
			color: #0056fc;
		}

		.icon-font {
			margin-right: 10px;
			font-size: 20px;
			@include adaptive(767) {
				font-size: 16px;
			}
		}

		span {
			text-decoration: underline;
			font-size: 15px;
			letter-spacing: 0.01em;
			@include adaptive(767) {
				font-size: 11px;
			}
		}
	}

	.c-btn {
		margin-bottom: 25px;
		@include adaptive(767) {
			height: 40px;
			margin-bottom: 15px;

			span {
				font-size: 14px;
			}
		}
	}
}

// SECTION :: END
